.isClosed {
  width: 150px;
  position: relative;

  background-color: white;
  color: black;

  padding: 10px 20px;
  border-radius: 15px;

  cursor: pointer;

}

.isOpen {
  width: 150px;
  position: relative;

  background-color: white;
  color: black;

  padding: 10px 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  cursor: pointer;
}

.itemsContainer {
  width: 100%;
  position: absolute;
  left: 0;
  top: 44px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;

}

.item {
  white-space: nowrap;

  padding: 10px 20px;

  &:hover {
    background-color: rgba(255, 160, 122, 0.6);
  }
}