.subMenu {
  width: auto;
  height: auto;

  background-color: var(--white);
}

.subCompra,
.subDescubrir {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 130px 135px;
}

.links {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 60px;
}
