@font-face {
  font-family: "legofont";
  src: url("/public/fonts/cerapro-regular.otf");
}

:root {
  /* Font */
  --typo-font-general: legofont;

  /*Colores*/

  --black-light: #191919;
  --black: #000;
  --blue-dark: #003a71;
  --blue-extra-light: #e6f3ff;
  --blue-kids-dark: #3055b5;
  --blue-kids: #abd9ff;
  --box-shadow-kids: #3055b570;
  --blue-light: #31a1e0;
  --blue: #006db7;
  --green-extra-light: #ccead8;
  --green: #008537;
  --grey-dark: #2c2c2c;
  --grey-extra-extra-light: #f6f6f6;
  --grey-extra-light: #f8f8f8;
  --grey-light: #e0e0e0;
  --grey-medium: #cacaca;
  --grey: #757575;
  --orange-dark: #e86902;
  --orange: #fd8024;
  --purple-dark: #18152d;
  --purple: #201d48;
  --red-dark: #9d1604;
  --red-extra-light: #fff2f2;
  --red: #d0021b;
  --transparent: transparent;
  --vip-blue: #0a4dad;
  --white: #fff;
  --yellow-extra-light: #fef6d2;
  --yellow-light: #ffdb4b;
  --yellow: #ffcf00;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

/*
              Allow percentage-based heights in the application
            */
html,
body,
#__next {
  height: 100%;
}

/*
              Create a root stacking context
            */
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
