.blog{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogContainer{
    width: 100rem;
    background-color: rgb(37, 129, 128);
    display: flex;
    flex-direction: column;
}
.titleBlog{
    margin: 15px;
    margin-left: 180px;
    color: var(--white);
}
// .blogCards{
//     width: 80%;
//     display: flex;
//     flex-direction: row;
//     align-self: center;
//     justify-content: space-between;
// }

.slider {
    width: 80%;
    align-self: center;

}

@media (max-width: 768px) {
    .blogContainer{
        width: 100%;
    }
    .slider{
        width: 100%;
    }
    .titleBlog{
        margin: 15px;
    }
}