.checkoutPagePayContainer {
  margin: 1rem;
  padding: 1rem;
  width: auto;

    .checkoutPagePayBtn {
      background-color: #006db7;
      border-radius: 9999px;
      padding: 8px 15px;
      align-self: center;
    }
  }

.checkoutPageProductsContainer {
  margin: 1rem;
  padding: 1rem;

  .cardsProductsCont {
    .cardsProductsList {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .cardProductCont {
        display: flex;
        flex-direction: row;
        .productImg {
          width: 10rem;
        }
      }
    }
  }
}
