.containerPadreNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  background-color: var(--yellow);

}

.containerNav {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;

}

.containerPre {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.rightPre {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .utilityBar {
    width: 0.0625rem;
    height: 1.25rem;
    background: rgb(117, 117, 117);
  }

}

.containerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  .hamburguerMenu {
    display: none;
  }

}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.containerRight {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: transparent;
gap: 40px;
}

.menuEspecial {
background-color: var(--white);
color: var(--red);
}

@media (max-width: 800px) {
  .buttonContainer {
    display: none;
  }

  .hamburguerMenu {
    display: flex!important;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
