.welcomeContainer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.25rem;
    margin: 2.5rem 2.5rem;
    background-color: #f2f2f2;

    .welcomeButton {
        cursor: pointer;

        :hover {
            text-decoration: underline;
        }

    }
}