footer {
    background-color: #201D48;
    display: flex;
    flex-direction: column;
   

  }
  .title{
    padding: 0.625rem 0.9375rem;
    display: flex;
  }

  div >button{
    display: flex;
    color: white;
    gap:5px
  }

  li{
    padding: 0.625rem 0.9375rem
  }

  li > a >h1:hover{
    text-decoration: underline;
  }

  .LegoIcon > svg {
    width: 97px;
    height: 97px;
    margin: 0.75rem;
  }

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 1.25rem 1.25rem 1.25rem;

}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 82.5rem;
    margin: 0 auto;
}

.mid{
    padding: 2.5rem 1.25rem 1.25rem 1.25rem 
}

.bot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2.5rem 1.25rem 1.25rem 1.25rem 
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.email > a{
    padding-bottom: 1.25rem;
}

.email >input{
    height: 4rem;
}


.links{
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
}

.rrss{
    display: flex;
    flex-direction: column;
}

.rrss > a{
    padding-bottom: 1.25rem;
   
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2.5rem;
}