.subMenuContainer{
  display: flex;
  flex-direction: row;

}

.subMenu {
  background-color: transparent;
  padding-left: 75px;


  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 50px;
  }

}


.subDescubrir{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  padding-left: 50px;

}

.subLinea{
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: transparent;
  padding-left: 75px;
}


.descubrirButtons {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 20px;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  cursor: pointer;

  p:hover {
    color:var(--blue);
    text-decoration: underline;
  }
}

p:hover {
  color:var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.descubrirButtonsClick {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  gap: 20px;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;

  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
  }
}

