.links {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 60px;
  }

  .menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    flex-wrap: wrap;
    // background-color: var(--white);
  }

  .compraClickeable, .descubrirClickeable{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    // padding-top: 50px;
    padding-left: 135px;
    flex-wrap: wrap;
    gap: 20px;
    background-color: transparent;
  }

  .compra {
    display: flex;
    flex-direction: column;
    padding-left: 135px;
    gap: 20px;
  }
  .descubrir {
    display: flex;
    flex-direction: column;
    // padding-left: 135px;
    gap: 20px;
  }
  .ayuda {
    display: flex;
    flex-direction: column;
    // padding-left: 135px;
    gap: 20px;
  }

  .ayuda {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    // padding-left: 135px;
    flex-wrap: wrap;
    gap: 20px;
    background-color: transparent;
  }


  .subMenuContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    // background-color: var(--white);
    padding-top: 150px;
    padding-left: 135px;
    gap: 20px;
  }

  .subMenudos {
  background-color: aliceblue;

  }
  .subMenuCompra {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 800px) {
    .links {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
