.links {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 60px;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100%;
  overflow: hidden;
  background-color: var(--white);

  
}


.compraClickeable, .descubrirClickeable{
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 130px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: transparent;
  transition: width 500ms ease 0s;
}

.compra, .descubrir {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 20px;
  margin-top: 25px;
  transition: width 500ms ease 0s;

  
}

.ayuda {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 0px;
  flex-wrap: wrap;
  padding-left: 135px;
  gap: 20px;
  margin-top: 25px;
  background-color: transparent;
  transition: width 500ms ease 0s;

  p:hover {
    color:var(--blue);
    text-decoration: underline;
  }
}


.subMenuContainer{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: var(--white);
  padding-top: 150px;
  padding-left: 135px;
  gap: 20px;
}

.subMenudos {
background-color: aliceblue;

}
.subMenuCompra {
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 800px) {
  .links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
