/* Font-size & line-height*/

.titleXL {
    font-size: 40px;
    line-height: 50px;
  }

  .titleLarge {
    font-size: 32px;
    line-height: 43px;
  }

  .titleBig {
    font-size: 26px;
    line-height: 25px;
  }

  .titleMedium {
      font-size: 20px;
      line-height: 31px;
    }

  .titleRegular {
    font-size: 20px;
    line-height: 28px;
  }

  .titleSmall {
    font-size: 20px;
    line-height: 25px;
  }

  .subtitleXL {
    font-size: 18px;
    line-height: 28px;
  }

  .subtitleLarge {
    font-size: 18px;
    line-height: 25px;
  }
  .subtitleRegular {
    font-size: 16px;
    line-height: 25px;
  }
  .bodyXL {
    font-size: 16px;
    line-height: 19px;
  }
  .bodyLarge {
    font-size: 14px;
    line-height: 25px;
  }

  .bodyMedium {
    font-size: 14px;
    line-height: 19px;
  }

  .bodyRegular {
    font-size: 12px;
    line-height: 25px;
  }
  .bodySmall {
    font-size: 12px;
    line-height: 19px;
  }

  /* Font-weight */

  .regularWeight {
    font-weight: 400;
  }

  .mediumWeight {
    font-weight: 500;
  }

  .bigWeight {
    font-weight: 600;
  }

  .boldWeight {
    font-weight: 700;
  }
