.logInModalContainer {
    padding: 50px;

    button {
        background-color: #006db7;
        border-radius: 9999px;
        padding: 8px 15px;
    }

    .logInModalContainerBodyTop > svg {
        width: 45px;
        height: 45px;
      }
}